body {
  font-family: "Press Start 2P", cursive;
  background-image: url(./images/Ping\ Pong\ table-01.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#container {
  position: relative;
}

.start {
  display: block;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-top: 21%;
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  /* color: white; */
  color: black;
}

.rules {
  font-size: 0.8rem;
}

#ball {
  width: 20px;
  height: 20px;
  background-color: red;
  position: fixed;
  top: 20px;
  left: 52.5%;
  border-radius: 50%;
}

#rod1,
#rod2 {
  width: 200px;
  height: 20px;
  position: fixed;
  left: 50%;
  border-radius: 25px;
  text-align: center;
  color: white;
  font-weight: bold;
}

#rod1 p, #rod2 p{
  font-weight: 200;
  font-size: 8px;
}
#rod1 {
  background-color: black;
  top: 0px;
}

#rod2 {
  background-color: black;
  bottom: 0px;
}
